* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'TT Norms Pro', sans-serif;
}

body {
  max-width: 100vw;
  min-height: 100vh;
  width: 100%;
}

.it-hover:hover ~ .cursor-new {
  transform: translate(-50%, -50%) scale(6);
  mix-blend-mode: difference;
  background: #fff;
}

.it-hover-black-new:hover ~ .cursor-new {
  background: #fff;
}

.it-hover-new:hover ~ .cursor-new {
  transform: scale(6);
  mix-blend-mode: difference;
  background: #fff;
  z-index: 7;
}

.it-hover-select:hover ~ .cursor-new {
  transform: scale(9);
  mix-blend-mode: difference;
  background: #fff;
  z-index: 7;
}

.it-hover-black:hover ~ .cursor-new {
  transform: scale(6);
  mix-blend-mode: difference;
  background: #fff;
  z-index: 7;
}

.hoverAnimation {
  position: relative;
}
