* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'TT Norms Pro', sans-serif;
}

body {
  max-width: 100vw;
  min-height: 100vh;
  width: 100%;
}

.it-hover:hover ~ .cursor-new {
  transform: scale(6);
  mix-blend-mode: difference;
  background: #fff;
}

.it-hover-new:hover ~ .cursor-new {
  transform: scale(6);
  mix-blend-mode: difference;
  background: #fff;
  z-index: 7;
}